@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.codingProfile {
    font-family: "Merriweather", serif;

    h1 {
        font-size: 3rem;
    }
    .divider{
        hr{
            width: 20%;
            height: .2rem;
            margin: -1rem auto 2rem auto;
            background-color: #ff5823;
            border: 1px solid #ff5823;
        }
    }

    .profile {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
        padding: 2% 5%;
        row-gap: 20px;
        column-gap: 20px;

        .profileContainer {
            padding: 2% 0% 0% 0%;
            box-shadow: 5px 5px 10px 1px rgb(199, 198, 198), -5px -5px 10px 1px rgb(199, 198, 198);
            border: 1px solid rgb(16, 36, 53);
            transform: rotateY(0deg);

            img {
                margin-bottom: 1rem;
            }

            .ProfileName {
                background-color: rgb(16, 36, 53);
                padding: 2%;

                a {
                    color: rgb(255, 255, 255);
                    font-size: 1.2rem;
                    text-decoration: none;
                }
                a:hover{
                    text-decoration: underline;
                    transition: .5s all ease;
                }
            }
            
        }
        .profileContainer:hover{
            transform: rotateY(30deg);
            transition: .3s all ease-in-out;
        }
    }

    @media screen and (max-width: 1200px) {
        .profile {
            display: grid;
            grid-template-columns: 4fr 4fr 4fr;
        }
    }
    @media screen and (max-width: 600px) {
        .profile {
            display: grid;
            grid-template-columns: 6fr 6fr;
        }
    }
    @media screen and (max-width: 400px) {
        .profile {
            display: grid;
            grid-template-columns: 12fr;
        }
    }
}